.sign-up-form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   padding: 40px;
}

.Logo-Image{
   width: 24rem;
   height: 24rem;
}

.name, .email, .password{
   display: flex;
   gap: 0.5rem;
}

.login-text{
   cursor: pointer;
   color: black;
}

span{
   font-weight: bold;
}

.input-field{
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.error-message{ 
   background-color: rgb(235, 70, 70);
   padding: 10px;
   border-radius: 2rem;
   color: white;
}

.error-cancel-btn{
   background-color: transparent;
   border: none;
}